In [16]:
import pandas as pd
from datetime import datetime

In [31]:
start_date = datetime(2023, 1, 1)
end_date = datetime(2028, 1, 1)

date_range = pd.date_range (start_date, end_date)

date_df = pd.DataFrame(date_range, columns=["date"])
date_df

           date
0    2023-01-01
1    2023-01-02
2    2023-01-03
3    2023-01-04
4    2023-01-05
...         ...
1822 2027-12-28
1823 2027-12-29
1824 2027-12-30
1825 2027-12-31
1826 2028-01-01

[1827 rows x 1 columns]

In [32]:
date_df["year"] = date_df["date"].dt.year
date_df["month"] = date_df["date"].dt.month
date_df["day"] = date_df["date"].dt.day
date_df["day_of_week"] = date_df["date"].dt.dayofweek + 1
date_df["is_weekend"] = date_df["day_of_week"].isin([6,7])

In [35]:
date_df.to_csv("F:\\Kurzus\\Module II\\src\\data\\date_dimension.csv", index= False)